<% layout('/layouts/boilerplate') %>
    <div class="col-6 offset-3">
        <h3>Edit course</h3>
        <form action="/courses/<%= course._id %>?_method=put" method="post" class='needs-validation' novalidate>

            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="course[name]" value="<%= course.name %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="course[location]" value="<%= course.location %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="course[image]" value="<%= course.image %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="number" step=".01" id="price" name="course[price]" aria-describedby="price-label"
                        placeholder="0.00" value="<%= course.price %>">
                </div>

            </div>

            

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="course[description]" cols="30"
                    rows="5"><%= course.description %> </textarea>
            </div>

            <div class="mb-3"><button class="btn btn-info">Save</button></div>

        </form>

        <a href="/courses/<%= course._id %> ">Cancel</a>
    </div>